body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header h1 {
    background: url("https://github.com/drewlearnsabout/Example-Hairstylist-Website/blob/master/Hair%20banner2.jpg?raw=true");
    background-size: cover;
    height: 10em;
    width: 100%;
    text-align: center;
    padding-top: 7em;
    font-family: 'Cedarville Cursive', cursive;
}

header h1 #social_icons .social_icon_size {
    height: 1em;
    width: 1em;
}

nav {
    margin-top: -1.5em;
    padding: 1em 0 1em 0;
    background: silver;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 2em;
    border-top: 1px solid rgb(182,126,1);
    border-bottom: 1px solid rgb(182,126,1);
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    justify-self: center;
    color: rgb(182,126,1);
    color: linear-gradient(48deg, rgba(182,126,1,1) 1%, rgba(222,120,36,1) 71%, rgba(255,255,255,1) 100%);
    text-shadow: 2px 2px 4px rgb(129, 100, 100), 2px 2px 4px white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky, #about {
    padding-top: 40px;
}

#about {
    padding: 1em;
    display: grid;
    justify-items: center;
}

#about_paragraph {
    max-width: 40em;
}

#paragraph1 {
    font-size: 1.2em;
}

#paragraph2 {
    font-size: 0.8em;
}

#gallery {
    margin: 4em 0em 0 0em;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-gap: 1em 5em;
    grid-template-columns: repeat(auto-fit, minmax(40px, 200px));
}

#fade_picture {
    height: 14em;
    width: 14.6em;
}

.first_picture {
    cursor: pointer;
    padding: 0.2px;
    width: 100%;
}

.active, .first_picture:hover {
    opacity: 0.7;
}

.firstContent {
    background: rgb(173, 173, 173);
    border-radius: 0 0 5px 5px;
    color: white;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.firstContent p {
    padding: 1em;
    font-size: 0.75em;
}

#contact {
    margin: 4em 0 6em 0;
    display: grid;
    justify-content: center;
}

#contact_me {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em 1em;
}

#submit:hover {
    cursor: pointer;
    background: rgb(180, 180, 180);
}

#contact button {
    font-family: 'Cedarville Cursive', cursive;
    color: white;
    font-size: 1.2em;
    background: rgb(173, 173, 173);
    border: 1px solid rgb(211, 145, 3);
    border-radius: 4px 4px 2px 2px;
}

.contact_me_class {
    border-radius: 0.3em;
    font-family:'Montserrat', sans-serif;
}

#bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
    background: rgb(165, 165, 165);
    color: white;
    padding: 1em 0 0.5em 0;
}

#bottom #social_icons .social_icon_size {
    height: 2.5em;
    width: 2.5em;
    padding: 0 0em 0 0em;
}

@media (max-width: 720px) {
    nav {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 0.4em 0 0.4em 0;
        grid-gap: 1em;
    }
    nav a {
        font-size: 1em;
    }

    #contact {
    }

    #bottom p {
        padding: 1em;
    }

    #bottom #social_icons .social_icon_size {
        height: 1.8em;
        width: 1.8em;
        padding-top: 1.8em;
    }
}